<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="MyDatabaseConnectionString" connectionString="server=localhost;Database=IceWA; Uid=icescore_admin; Pwd=123456789"/>
   <!-- <add name="MyDatabaseConnectionString" connectionString="Data Source=P-A213-168986\SQLEXPRESS2012;Initial Catalog=Central;Integrated Security=True" -->
    <!--providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
   <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="IceWAService.IceWAService">
        <endpoint address="../IceWaService.svc"
          binding="webHttpBinding"
          contract="IceWAService.IIceWAService"
          behaviorConfiguration="webBehaviour" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
